<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= recipe.name %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>A Recipe for <%= recipe.name %>
        </h1>
        <h2>Full Recipe</h2>
        <p>Name: <%= recipe.name %>
        </p>
        <p>Instructions: <%= recipe.instructions %>
        </p>
        <p>Ingredients: <% recipe.ingredients.forEach(ingredient=> { %>
                <option value="<%= ingredient._id %>">
                    <%= ingredient.name %>
                </option>
                <% }) %>
        </p>
</body>

</html>